/Lab4Task/nbproject/private/
/Lab4Task/build/
/Lab4Task/dist/
/Lab5Tasks/Task1/nbproject/private/
/Lab5Tasks/Task1/build/
/Lab5Tasks/Task1/dist/
/Lab5Exercise/WebApplication1/nbproject/private/
/Lab5Exercise/Lab5Exercise/nbproject/private/
/Lab5Exercise/Lab5Exercise/build/
/Lab5Exercise/Lab5Exercise/dist/
/Lab6Exercise/lab6exercise/nbproject/private/
/Lab6Exercise/lab6exercise/build/
/Lab6Tasks/Lab6Tasks/nbproject/private/
